<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebDesign</title>
    <link rel="stylesheet" href="/Layout/Layout.css">
    <link rel="stylesheet" href="/Layout/Cards/Cards.html">
</head>
<body>
    <header>Header</header>
    <div id="main">
        <article>Article
            <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis rem magnam ipsa voluptas recusandae exercitationem magni sed culpa, in, illum porro ex rerum! Consequuntur inventore saepe, ea voluptate placeat deserunt!
            </p>
        </article>
        <nav>Nav</nav>
        <aside>Aside</aside>
    </div>
    <footer>
        Footer
    </footer>
    
</body>
</html>